body {
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fff;
  color: #666;
}

.logo{
	text-align: center;
	margin: auto;
	display: block;
}

p {
 	margin: 0;
}

ul.success li,ul.info li,ul.err li {
	margin: 20px 0 20px 0;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 5px;
	list-style: none;
}
.comment-name{
	font-size: 12px;
}
ul.info li{
	color: #31708f;
	background: #d9edf7;
	border-color: #bce8f1;
}

ul.success li{
	color: #3c763d;
	background: #dff0d8;
	border-color: #d6e9c6;
}

.am-cf{
	clear: both;
}

a{
	color: #404137;
	text-orientation: none;
}
nav{
	background: #404137;
	color: #fff;
	overflow: auto;
	height: 60px;
	padding:20px 0 0 10px;
	font-size: 18px;
	margin-bottom: 20px;
}

nav ul li{
	float: left;
	list-style: none;
}

nav a {
	padding: 10px;
	margin: 0 10px;
	color: #fff;
}

nav a .current,nav a:hover{
	background: #83cd29;
	color: #000;
	text-decoration: none;
} 

.meta{
	padding: 7px;
	border: 1px solid #ccc;
	background: #ccc;
}
a.more{
	display: inline-block;
	background: #404137;
	color: #fff;
	padding: 10px;
	margin-top: 20px;
}
.post{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}
.post img{}

.container{
	min-height:100%;
}

footer{
	margin-top: 50px;
    bottom: 0;
    display: block;
    padding: 20px;
    width: 100%;
    text-align: center;
    height: 30px;
}